/* CONTACTO */
.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: principal;

    >.row section {
        background-color: #a5a9ac;

        >h2 {
            @include fuenteTitulo;
            text-align: center;
        }

        .card-title {
            h3 {
                font-size: 1.1875rem;
            }
        }

        .list-group-item {
            font-size: .85rem;
        }
    }
}
