/* DISCOGRAFIA */

.discografia-lista {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);

    .discografia-lista__item {
        width: 100%;
        margin: 1% 1%;
        padding: 2%;
        line-height: 1.5;
        list-style: decimal inside;
        font-style: italic;
        position: relative;
        display: flex;
        flex-flow: row nowrap;

        .img-container {
            height: fit-content;
            // ORIGINAL width: 30%;
            width: 50%;
            position: relative;
            transition: transform .5s;

            .discografia-lista__img {
                height: auto;
                width: 100%;
                margin-right: 0.5em;
                box-shadow: map-get($sombreados, multimedia);
                transition: all 1s;
            }

            &:hover {
                transform: scale(1.2);

                .btn {
                    display: inline;
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }

                .discografia-lista__img {
                    opacity: .85;
                }

                + ol {
                    animation: fadeIn cubic-bezier(.3, -0.01, .49, 1) 750ms forwards;
                    padding-left: 2em;
                    text-transform: uppercase;
                    opacity: 0;
                }
            }

            .btn {
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                font-family: 'Jost', sans-serif;
                font-size: 1rem;
                font-weight: 700;
                text-transform: uppercase;
                transition: all 1s;
                
                a:hover {
                    color: inherit;
                }
            }
        }

        ol {
            opacity: 0;
            animation: fadeOut cubic-bezier(.3, -0.01, .49, 1) 750ms forwards;
            text-transform: uppercase;
        }

    }
}
