/* PLACEHOLDER A EXTENDER */

%rrss__item {
    width: 3.75rem;
    height: 3.75rem;
    margin: 0px 16px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    left: 0;
    color: #000;
    letter-spacing: 5px;
    border-radius: 50px;
    transition: all .4s ease-out;

    &:hover {
        width: 13rem;

        a {

            i {
                color: map-get($colores, blanco);
            }

        }
        
        &::before {

            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50px;
            background: radial-gradient(circle, #d7e1ec 0%, #11468f 100%);
            box-shadow: 0 10px 10px #0000001a;
            position: absolute;
            z-index: -1;

        }
    }

    a {
        display: inline-block;
        width: 3.75rem;
        height: 3.75rem;
        text-align: center;
        border-radius: 50%;
        box-sizing: border-box;
        line-height: 3.75rem;
        transition: all .4s ease-out;

        i {
            font-size: 1.563rem;
            line-height: 3.75rem;
            transition: all .4s ease-out;
            color: map-get($colores, crema);
        }
    }
}

/* FOOTER */

.footer {
    background-color: map-get($colores, azul);
    color: map-get($colores, blanco);
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    height: auto;
    flex-shrink: 0;
    grid-area: footer;

    .borde-inf {

        padding: 1.5em 0;
        margin-bottom: 1.5em;
        border-bottom:1px solid map-get($colores, blanco); 

        > .row {

    
            h3 {
                font-weight: 600;
            }

            ul {

                list-style: none;
                padding-left: 0;

                li {

                    margin: .3em 0;
                    
                    a {
                        @include linkAnimado;
                        color: currentColor;
                        font-weight: 400;
        
                        &:hover {
                            color: currentColor;
                        }
                    }
                }
            } 
        }
    }

    div {
        height: inherit;

        .rrss {
            font-weight: 600;
            width: -webkit-fill-available;
            width: 100%;
            height: 100%;
            padding: 0 5%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: map-get($colores, crema);
            list-style: none;


            @each $nombre, $color in $redes {

                .rrss__item--#{$nombre} {

                    @extend %rrss__item;

                    &:hover a {

                        background: $color;
                    }
                }
            }            
        }
    }
    .copyright > p {
        color: map-get($colores, blanco) ;
    }
}
