/* ENCABEZADO */
.navbar {
    box-shadow: 0px 5px 10px 0px #aaa;
    width: 100%;
    background: #fff;
    background-image: url(../img/bckg2-816x408.jpg);
    background-position-y: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.85;
    height: 150px;
    max-height: 170px;
    z-index: 12;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    grid-area: header;
    align-items: center;

    .navbar-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        .logo {
            width: 100%;
            height: auto;
            font-size: 4.1875rem;
            font-family: 'Bodoni Moda', serif;
            font-style: italic;
            font-weight: 900;
            text-shadow: 0 0 1px #000000;
            padding-left: 3rem;

            a {
                line-height: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }

            &--color1 {
                color: #004E7C;
            }

            &--color2 {
                color: #B73225;
            }
        }

        .navbar-collapse {
            padding-right: 3rem;

            .navbar-nav {
                order: 2;
                display: flex;
                margin-left: 2rem;

                .nav-item {
                    list-style: none;
                    margin-left: 1rem;
                    margin-bottom: 0.5rem;
                    font-size: 1.4792rem;
                    border-radius: 6px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 600;
                    line-height: 35px;
                    text-transform: uppercase;
                    align-items: center;
                    color: #ffffff;
                    text-shadow: 0 0 24px #070000;

                    a {
                        text-decoration: none;
                        color: #ffffff;
                        font-weight: 500;
                        transition: color 0.3s ease-in-out;

                        &:hover {
                            color: #b73225;
                            transition: color 0.3s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}
