/* NOTICIAS */
.noticias {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
    padding-left: 2%;

    & &__articulo {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        margin-bottom: 20%;
        max-height: 15%;

        &--txt {
            width: fit-content;
            margin-right: 36px;

            a {
                @include linkAnimado;
                font-weight: 400;
                font-size: 1rem;
                color: currentColor;
            }

            .noticias__articulo--titulo {
                font-size: 1.4792rem;
                font-weight: 800;
                margin-bottom:1rem;
            }

            .noticias__articulo--cuerpo {
                font-style: italic;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                text-align: justify;
            }
        }
    }

    & div &__articulo--img {
        width: 100%;
        max-height: 100%;
    }
}
