/* SIDEBAR */
.aside {
    grid-area: sidebar;
    display: flex;
    align-items: flex-start;
    padding: 10em 0;

    .sidebar {
        position: sticky;
        right: 0;
        top: 0;
        align-self: flex-start;
        max-height: 800px;
        
        .fechas {
            
            background-color: map-get($colores, azul);
            height: auto;
            max-height: 500px;
            margin-bottom: 1em;
            border: 5px double rgba(0, 0, 0, 0.15);
            border-radius: 15px 10px 10px 15px;
            text-align: justify;
            color: #ffffff;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 8px;
                height: 8px;
            }
    
            &::-webkit-scrollbar-thumb {
                background: map-get($scrollbar, thumb);
                border-radius: 4px;
    
                &:hover {
                    background: map-get($scrollbar, hover--bg);
                    box-shadow:map-get($scrollbar, hover--shadow);
                }
    
                &:active {
                    background-color: map-get($scrollbar, active);
                }
            }
    
            h2 {
                text-align: center;
                padding-top: 1em;
            }
    
            ul {
                line-height: 1.5em;
                list-style: inside;
                font-size: 0.8333rem;
                font-weight: 400;
                padding: 0.5em;
    
                li {
                    margin: 1em 0;
                }
            }
        }

    }
}
